// Place all the styles related to the Api/bills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.create-bill-form {
  width: 350px;
  height: 350px;
  min-height: 350px;
  background-color: white;
  background-clip: padding-box;
  text-align: center;
  z-index: 1050;
  margin: auto;
  color: #333;
  text-shadow: none;
  border: 1px solid #999;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);

// keeps modal centered
  max-height: calc(100% - 100px);
  position: fixed;
    top: 40%;
    left: 50.25%;
  transform: translate(-50%, -50%);
// ---------------------
}

.create-bill-form header {
  height: 20px;
  border-radius: 10px 10px 0px 0px;
  color: #fff;
  padding: 10px;
  border-bottom: 1px solid #36977b;
  text-shadow: 0 -1px 0 #318a71;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.create-bill-form header * {
  display: inline-block;
  text-align: center;
  vertical-align: middle;

}

.withUser .bill-with {
  margin-left: 10px;
  font-size: 14px;
}

.create-bill-form .withUser {
  align-items: center;
  justify-content: flex-start;
  display: inline-flex;
  width: 100%;
  height: 32px;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

#bill-user-pic {
  background-image: image-url('default_pic.jpg');
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  border: 1px solid #3eaf8f;
}

#bill-username {
  margin: 2.5px;
}

.create-bill-form .body {
  padding: 10px;
  width: 330px;
  height:200px;
  border-bottom: 1px solid #ccc;
}

.bill-user {
  vertical-align: middle;
  margin-left: 10px;
  padding-right: 10px;
  display: inline-flex;
  border: 1px solid #ccc;
  background: #eee;
  border-radius: 10px;
}

.body-1 {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  width: auto;
}

#body-gift-icon {
  background-image: image-url('gifts_icon.png');
  background-size: 50px 84px;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 84px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  margin-right: 16px;
}

#body-1-inputs {
  width: 180px;
}

#body-1-inputs input {
  border: none;
  text-decoration: none;
  height: 50%;
  max-width: 168.5px;
  font-size: 20px;
}

#body-1-inputs > input {
  border-bottom: 1px dashed #ccc !important;
}

#body-1-inputs > div {
  border-bottom: 1px dashed #ccc !important;
}

#body-1-inputs input:focus {
  outline-width: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

#body-1-inputs-num {
  display: inline-flex;
  top: 11px;
  width: 100%;
  border-bottom: 1px dashed #ccc !important;
}

#body-1-inputs-num input {
  height: 40px;
  font-size: 36px;
  margin-top: 5px;
}

#body-1-inputs-num a {
  font-size: 20px;
  padding: 15px 3px 7px;
}

.body-2 {
  position: relative;
  top: 25px;
  font-size: 14px;
}

.body-3 {
  position: fixed;
  width: 50%;
  bottom: 60px;
}

.body-3 input {
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #f6f6f6;
  color: #666;

}

.bill-footer {
  position: relative;
  height: 35px;
  text-align: right;
  padding: 5px 10px;
  vertical-align: middle;
  justify-content: flex-end;
}

.bill-footer button {
  background-color: #48be9d;
  width: 65px;
  height: 35px;
  color: white;
  padding: 9px 14px;
  margin-right: 6px;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  display: inline-block;
  font-size: 14px;
  border-radius: 6px;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  white-space: nowrap;
}

.bill-footer button:first-child {
  background-color: #f6f6f6;
  color: #333;
  width: 80px;

}

.bill-footer button:hover {
  cursor: pointer;
}
