.center_container {
  position: relative;
  min-height: 100%;
  height: 1500px;
  overflow: visible;
  width: 960px;
  margin: -33px auto 0;
  padding: 0;
  top: 50px;
}

.centerBars {
  display: inline-flex;
  width: 100%;
  height: 100%;
}

.leftSideBar {
  // background-color: red;
  width: 200px;
  height: 200px;
  padding-left: 10px;
}

.leftSideBar ul {
  width: 172px;
  height: 19px;
  line-height: 21px;
  font-size: 16px;
  color: inherit;
  list-style-type: none;
  padding: 3px 8px 5px 5px;
  margin: 10px 0 10px;
  display: block;
  text-decoration: none;
}

#leftSide-1 {
  margin-bottom: 10px;

}

#leftSide-1 li {
  padding: 3px 0 3px 0;
  height: 27px;
  vertical-align: middle;
}

#leftSide-1 span {
  position: relative;
  display: inline-flex;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  margin-right: 4px;
  background-image: url('https://dx0qysuen8cbs.cloudfront.net/assets/fat_rabbit/logo-d23d9f9f3a93162ac760371c8e22fea7e14a9d8491b477e7925e551b14172ada.png');
  background-size: cover;
  background-color: transparent;
}

#leftSide-2 {
  font-size: 14px;
}

#leftSide-3 {
  position: relative;
  background: #f6f6f6;
  color: #ccc;
  font-size: 11px;
  margin-top: 5px;
  border-top: 1px solid #f3f3f3;
  // border-bottom: 1px solid #eee;
  // text-transform: uppercase;
}

#leftSide-3 li {
  display: flex;
  justify-content: space-between;
  margin-left: 3px;
  margin-right: 3px;
}

#no-groups {
  width: 100%;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 12px;
}

#user-show {
  top: 150px;
  height: 40px;
  width:100%;
  background-color: #eee;
  padding: 13px 0px 10px 0px;
  border-bottom: 1px solid #ddd;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}

#profile-pic-2 {
  background-image: image-url('default_pic.jpg');
  background-size: 36px 36px;
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
  margin-right: 5px;
  border-radius: 18px;
  border: 1px solid lightgrey;
}


#friend-name {
  height: 34px;
  width: auto;
  position: relative;
  margin-left: 25px;
  text-align: center;
  display: flex;
}

#friend-name h1 {
  width: auto;
  max-width: 275px;
  height: 38px;
  font-size: 24px !important;
  margin-top: 5px;
  margin-bottom: 0px;
  padding-left: 5px;
  vertical-align: middle;
  text-align: center;
  color: #333;
}


#user-show-btns button {
  background-color: #48be9d;
  width: 80px;
  height: 30px;
  color: white;
  margin-right: 12px;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  display: inline-block;
  font-size: 14px;
  border-radius: 6px;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  white-space: nowrap;

}

#user-show-btns > button:first-child {
  background-color: #ff652f;
}

#user-show-btns button:hover {
  cursor: pointer;
}

.centerColumn {
  // background-color: lightgrey;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
  width: 600px;
  height: 100%;
}

.rightSideBar {
  // background-color: blue;
  width: 200px;
  height: 200px;
}

#bold {
  font-weight: bold;
}

.fa {
  margin-right: 4px;
}

.groups {

}

.groups:hover {
  background: #eee;
  color: #999;
}

.friends {

}

.friends:hover {
  background: #eee;
  color: #999;
}

.friend-bill-item {
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #eee;
  // background-color: red;
}

.friend-bill-list li {
  list-style-type: none;

}

.friend-bill-item {
  display: inline-flex;
  justify-content: space-between;
}

.friend-bill-item:hover {
  cursor: pointer;
}

.friend-bill-item #bill-title-date {
  width: 325px;
  display: inline-flex;
}

.friend-bill-item #date {
  font-size: 11px;
  padding: 5px 0px 5px 5px;
  width: 35px;
  height: 35px;
  word-wrap: normal;
}

.friend-bill-item #bill-amount {
  width: 60px;
  justify-content: flex-end;
  text-align: right;
}

.friend-bill-item #bill-amount-2 {
  width: 155px;
}

.friend-bill-item label {
  font-size: 12px;
  color: #aaa;
  // padding: 11px 10px 12px 5px;
}

.friend-bill-item > div {
  position: relative;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  padding: 9px 5px;

}

.bill-title-date {
  display: inline-flex;
}

#list-icon {
  background-image: image-url('receipt_icon.png');
  background-size: 21px 35px;
  background-repeat: no-repeat;
  background-position: center;
  width: 21px;
  height: 35px;
  padding-right: 13px;
  // border: 1px solid lightgrey;
}

#title {
  width: 250px;
  padding: 10px 0px 10px 0px;
  color: black;
}

.bill-amount {
  display: inline-flex;
}

// #bill-amount div {
//   padding-left: 5px;
// }
//
// #bill-amount-2 div {
//   padding-left: 5px;
// }

#total {
  color: black;
}

#total-2 {
  color: #5bc5a7;
}
