// Place all the styles related to the Api/Friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#current-friends {
  background-color: white;
  border-bottom: 0px solid white;

}

#current-friends ul {
  margin-top: 0px;

}

#current-friends > ul li {
  margin-left: 5px;
  justify-content: space-between;
  font-size: 14px;
}

#current-friends i {
  padding: 3px 5px 3px 0px;
}

#current-friends > ul li:hover {
  background: #eee;
  color: #999;
}


#current-friends > ul li div {
  cursor: pointer;
  margin-left: 5px;
}

#current-friends a {
  padding: 0px 3px;
}

#current-friends a:hover {
  cursor: pointer;
}

#current-friends a:hover {
  color: #ff5216;
}
