#private-dashboard {
  top: 150px;
  height: 40px;
  width:100%;
  background-color: #eee;
  padding: 13px 0px 10px 0px;
  border-bottom: 1px solid #ddd;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}

#private-dashboard-heading {
  height: 34px;
  width: auto;
  position: relative;
  margin-left: 25px;
  text-align: center;
  display: flex;
}

#private-dashboard-heading h1 {
  width: auto;
  max-width: 275px;
  height: 38px;
  font-size: 24px !important;
  margin-top: 5px;
  margin-bottom: 0px;
  padding-left: 5px;
  vertical-align: middle;
  text-align: center;
  color: #333;
}

#total-balances {
  top: 150px;
  height: 25px;
  width:100%;
  background-color: #eee;
  padding: 12px 0px;
  border-bottom: 1px solid #ddd;
  margin: 0 auto;
  z-index: 10;
  justify-content: space-around;
  align-items: center;
  display: inline-flex;
}

#total-balances div {
  padding: 10px 62px 10px 62px;
  margin: 0 auto;
  text-align: center;
}

#total-balances #you-owe {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

#category {
  width: 100%;
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  font-size: 14px;
  color: #999;
  padding: 5px 0px;
  line-height: 36px;
  margin: 0;
  font-family: inherit;
  font-weight: bold;
}

#category #owe-left {
  padding-left: 20px;
  width: auto;
  color: #ff652f;
}

#category #owe-right {
  padding-right: 20px;
  width: auto;
  color: #5bc5a7;
}

.balance-summary {
  width: 100%;
  height: auto;
  display:inline-flex;
  justify-content: space-between;
}

.summary {
  width: 50%;
  height: auto;
}

.balance-summary #negatives {
  padding-left: 20px;
}

.balance-summary #positives {
  padding-right: 20px;
  text-align: right;
}


.dashboard-users {
  width: 100%;
  height: 30px;
}

#positives {
  border-left: 1px solid #eee;
}

.summary ul {
  margin: 0px;
  padding-left: 10px;
}

.summary li {
  list-style: none;
  display: flex;
  margin-bottom: 10px;
}

.user_pic {
  background-image: image-url('default_pic.jpg');
  background-size: 37px 30px;
  background-repeat: no-repeat;
  background-position: center;
  width: 37px;
  height: 30px;
  margin-right: 5px;
  border-radius: 18px;
  border: 1px solid lightgrey;
}

.dashboard-users {
  text-align: left;
  margin-left: 5px;
}

.dashboard-users #username {
  font-size: 16px;
  color: #000;
  display: block;
  // padding: 7px 13px;
}

.dashboard-users #money_owed {
  color: #5bc5a7;
  font-size: 13px;
  display: block;
  line-height: 16px;
}

.dashboard-users #you_owe {
  color: #ff652f;
  font-size: 13px;
  display: block;
  line-height: 16px;
}
