// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sessionForm {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  top: 50px;

}

.sessionForm > form {
  background-color: white;
  display: block;
  text-align: left;
}

.form-box {
  width: 620px;
}

.form-box div {
  display:inline-block;
}

.signin-form-box {
  width: 300px;
  height: 220px;
  text-align: center;
  position: fixed;
  z-index: 200;
  top: 50px;
  right: 150px;
  padding: 10px;
  color: #333;
  text-shadow: none;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);
}

/* all */
::-webkit-input-placeholder { color:lightgrey; }
::-moz-placeholder { color:lightgrey; } /* firefox 19+ */
:-ms-input-placeholder { color:lightgrey; } /* ie */
input:-moz-placeholder { color:lightgrey; }

.signin-inputs input {
  width: 285px;
  height: 28px;
  padding: 0px 5px;
  z-index: 98;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: black;
}

#signin-inputs h3 {
  margin: 0px;
  vertical-align: middle;
  width: 295px;
  height: 40px;
  z-index: 98;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: white;
  color: darkgrey;
}

#signin-inputs h3 a {
  position: relative;
  top: 7px;
}

.modalSubmitBtn {
  width: 100%;
  font-size: 12px;
  text-align: center;
  color: white;
  background: #5bc5a7;
  text-shadow: 0 -0.5px darkgrey;
  text-decoration: none;
  border-radius: 3px;
  border-width: 0.5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 6px 10px 6px 10px;
}

#signup-image {
  background-image: url('https://dx0qysuen8cbs.cloudfront.net/assets/fat_rabbit/logo-d23d9f9f3a93162ac760371c8e22fea7e14a9d8491b477e7925e551b14172ada.png');
  background-size: 200px 200px;
  position: relative;
  width: 200px;
  height: 200px;
  background-color: transparent;
}

#signup-image:hover {
  cursor: pointer;
}

#signup-inputs {
  display: inline-block;
  vertical-align: top;
  width: 375px;
  height: 490px;
  margin-left: 45px;
}

#signup-inputs div {
  color: black;
  font-size: 22px;
}

#signup-inputs h3 {
  text-align: left;
  text-transform: uppercase;
  font-size: 16px;
  color: #999;
  font-weight: bold;
  line-height: 15px;
  margin: 0px 0px;
}

#signup-inputs #signup-errors {
  padding: 15px 10px 5px 10px;
  padding-left: 20px;
  border-color: #b34;
  background: #c45;
  color: white;
  text-shadow: 0 -1px #9a2a38;
  margin-bottom: 20px;
  font-size: 18px;

}

#signup-inputs #signup-errors span {
  font-weight: bold;

}

#signup-inputs #signup-errors ul {
  margin: 10px 0px

}

#signup-inputs input {
  width: 330px;
  height: 40px;
  margin-bottom: 25px;
  padding: 0px 10px;
  font-size: 18px;
}

#signup-inputs .submitBtn {
  vertical-align: center;
  font-size: 24px;
  width: 152px;
  height: 52px;
  color: #fff;
  background: #ff652f;
  text-shadow: 0 -0.5px grey;
  text-decoration: none;
  border-radius: 5px;
  border-color: #FF883B;
  padding: 11px 15px;
}

#session-errors {
  color: red;
  font-size: 14px;
  list-style-type: none;
  margin: 7px 0px;
  padding: 0px;
}
