/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

body {
  background: white;
  color: grey;
  font-size: 12px;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  background-color: #5bc5a7;

  }


#root {
  height: 100%;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
  text-align: center;
  color: black;
}

.top_nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  color: white;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);

}

.modal-background {
  position: absolute;
  z-index: 100px;
}

.header-name {
  font-size: 18px;
}

.header-name #profile-pic {
  width: 25px;
  height: 25px;
  background-color: red;
}

.header-group {
  display: inline-flex;
  align-items: center;
  left: 150px;
}

.login-signup {
  position: relative;
  justify-content: space-around;
  align-items: center;

  display: inline-flex;
  left: 50px;
  color: white;
}


.login {
  vertical-align: baseline;
  margin-right: 5px;
  font-size: 12px;
  color: #fff;
  background: #5bc5a7;
  text-shadow: 0 -0.5px grey;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #888888;
  padding: 6px 10px 6px 10px;
  margin: 10px;
}

.signup {
  vertical-align: baseline;
  margin-left: 5px;
  font-size: 12px;
  color: #fff;
  background: #ff652f;
  text-shadow: 0 -0.5px grey;
  text-decoration: none;
  border-radius: 5px;
  border-color: #FF883B;
  padding: 6px 10px 6px 10px;
  margin: 10px;
}

.header-logout {
  vertical-align: baseline;
  font-size: 12px;
  color: #fff;
  background: #ff652f;

  text-decoration: none;
  border-radius: 5px;
  border-color: #FF883B;
  padding: 6px 10px 6px 10px;
  margin-left: 20px;
}


.logo_title {
  position: relative;
  right: 100px;
  font-family: Georgia, serif;
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 8px;
  color: #fff;
  text-decoration: none;

}

.btn-orange:hover {
  border-color: #FF883B;
  background-color: #ff5216;
}

.btn-teal:hover {
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  background-color: #318970;
}

.btn {
  cursor: pointer;
}
