<!DOCTYPE html>
<html>
  <head>
    <title>Lootrify</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://use.fontawesome.com/81ea76a7ca.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
